body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.scroller {
  scrollbar-width: thin;
  scrollbar-color: #202124 #686b758a;
}

.scroller::-webkit-scrollbar {
  width: 12px;
}

.scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0000004d;
  border-radius: 10px;
}

.scroller::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
